// TODO investigate broken bulma mixins after importing single component

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';
@import '../bulma/bulma-override-variables';
@import '~bulma/sass/utilities/mixins';

@mixin centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
