@import '../../styles/base/variables';
@import '../../styles/utilities/mixins';

$border-width: 1px;
$horz-padding: $building-unit-x2;
$close-size: $building-unit-x2;
$inner-padding-right: $close-size + $building-unit;
$inner-padding-right-mobile: $close-size + $building-unit-x2;

.alert {
  border-top: $border-width solid;
  border-bottom: $border-width solid;
  transition: .2s;
  border-color: $gray-117;
  background-color: $gray-248;

  &.is-success {
    border-color: $green;
    background-color: $green-247;
  }

  &.is-warning {
    border-color: $red;
    background-color: $red-253;
  }

  &.is-hint {
    border-color: $blue;
    background-color: $blue-242;
  }

  .alert-inner {
    padding: $building-unit 0;

    @include mobile {
      padding: $building-unit $horz-padding;
    }
  }

  .alert-text {
    padding-right: $inner-padding-right;
  }

  .alert-close {
    // set background image for close button in the component where you import alert styles
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    width: $close-size;
    height: $close-size;
    position: absolute;
    top: $building-unit;
    right: 0;

    @include mobile {
      right: $horz-padding;
    }
  }
}
