@import '../base/variables';
@import '../utilities/mixins';
@import '../export-variables';

$upload-file-item-margin-bottom: $building-unit-x2;
$upload-file-icon-margin-right: 8px;
$upload-image-icon-margin-right: $building-unit;
$upload-file-icon-size: $building-unit-x2;
$upload-file-image-size: $building-unit-x3;
$upload-file-name-right: $building-unit-x2;
$status-icon-size: $building-unit-x2;
$status-icon-margin-right: 11px;

.upload-file-list {
  .upload-file-item {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $upload-file-item-margin-bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .upload-file-name {
    padding-right: $upload-file-name-right;
    align-items: center;
  }

  .upload-file-actions {
    flex-shrink: 0;
  }

  .upload-file-preview {
    display: block;
    width: $upload-file-icon-size;
    height: $upload-file-icon-size;
    background: center / contain url('#{$assets_path}images/file-solid.svg') no-repeat;
    margin-right: $upload-file-icon-margin-right;
  }

  .upload-image-preview {
    display: block;
    width: $upload-file-image-size;
    height: $upload-file-image-size;
    background: center / contain no-repeat;
    border-radius: $telekom-radius;
    border: 1px solid $gray-220;
    margin-right: $upload-image-icon-margin-right;
  }

  .upload-file-status-icon {
    display: block;
    margin-right: $status-icon-margin-right;
    width: $status-icon-size;
    height: $status-icon-size;
    background: center / cover no-repeat;

    &.is-completed {
      background-image: url('#{$assets_path}images/check.svg');
    }

    @keyframes loading-animation {
      100% {
        transform: rotate(360deg);
      }
    }

    &.is-loading {
      background-image: url('#{$assets_path}images/loading.svg');
      animation: loading-animation ease .5s infinite;
    }
  }

  .upload-file-delete-btn {
    &.is-disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
}
