@import '../base/variables';
@import '../bulma/bulma-override-variables';
@import '../base/typography';

$tooltip-max-width: 312px;
$tooltip-arrow-height: 12px;
$tooltip-arrow-width: 18px;
$tooltip-bg-color: rgba($black, .85);
$tooltip-offset: 0px;

.tooltip {
  position: relative;
  display: inline-flex;
  cursor: default;
  z-index: 1;

  &:hover {
    .tooltip-text,
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }

  .tooltip-text {
    position: absolute;
    padding: $building-unit;
    background: $tooltip-bg-color;
    bottom: calc(100% + #{$tooltip-arrow-height} + #{$tooltip-offset});
    color: $white;
    @include font-size(7);
    border-radius: $telekom-radius;
    max-width: $tooltip-max-width;
    text-align: center;
    box-shadow: none;
    width: auto;
    visibility: hidden;
    opacity: 0;
    transition: $transition-default;
  }

  // tooltip arrow
  &::before {
    content: '';
    position: absolute;
    border-top: $tooltip-arrow-height solid $tooltip-bg-color;
    border-left: $tooltip-arrow-width/2 solid transparent;
    border-right: $tooltip-arrow-width/2 solid transparent;
    bottom: calc(100% + #{$tooltip-offset});
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: $transition-default;
  }

  &:not(.is-input) {
    .tooltip-text {
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  &.is-input {
    &::after {
      right: -$building-unit;
      width: $tooltip-max-width;
    }
  }

  &.is-bottom {
    .tooltip-text {
      bottom: auto;
      top: calc(100% + #{$tooltip-arrow-height} + #{$tooltip-offset});
    }

    &::before  {
      border-top: none;
      border-bottom: $tooltip-arrow-height solid $tooltip-bg-color;
      border-left: $tooltip-arrow-width/2 solid transparent;
      border-right: $tooltip-arrow-width/2 solid transparent;
      bottom: auto;
      top: calc(100% + #{$tooltip-offset});
    }
  }

  &.is-left {
    .tooltip-text {
      transform: none;
      left: 0;
    }
  }

  &.is-right {
    .tooltip-text {
      transform: none;
      left: auto;
      right: 0;
    }
  }

  &.is-absolute {
    position: absolute;
  }
}
