@import '../base/variables';
@import '../bulma/bulma-override-variables';
@import '../base/typography';

$tooltip-max-width: 312px;
$tooltip-arrow-height: 12px;
$tooltip-arrow-width: 18px;
$tooltip-bg-color: $gray-56;
$tooltip-offset: 0px;

.tooltip {
  position: relative;

  &:hover {
    &::after,
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
    content: attr(tooltip);
    padding: $building-unit;
    background: $tooltip-bg-color;
    bottom: calc(100% + #{$tooltip-arrow-height} + #{$tooltip-offset});
    color: $white;
    @include font-size(7);
    border-radius: $telekom-radius;
    max-width: $tooltip-max-width;
    text-align: center;
    box-shadow: none;
    width: auto;
    visibility: hidden;
    opacity: 0;
    transition: $transition-default;
  }

  &::before {
    content: '';
    position: absolute;
    border-top: $tooltip-arrow-height solid $tooltip-bg-color;
    border-left: $tooltip-arrow-width/2 solid transparent;
    border-right: $tooltip-arrow-width/2 solid transparent;
    bottom: calc(100% + #{$tooltip-offset});
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: $transition-default;
  }

  &:not(.is-input) {
    &::after {
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }

  &.is-input {
    &::after {
      right: -$building-unit;
      width: $tooltip-max-width;
    }
  }

  &.is-absolute {
    position: absolute;
  }
}
