$button-default-height: $building-unit-x3;
$button-box-shadow: $input-focus-box-shadow-size rgba($blue, .5);

$button-border-size: 1px;
$disabled-button-text-color: $gray-184;
$disabled-button-border-color: $gray-220;
$button-padding: $building-unit-x0_5 - $button-border-size $building-unit-x2;
$large-button-padding: $building-unit - $button-border-size $building-unit-x2;
$disabled-button-bg-color: $gray-248;

// default-button
$button-border-color: $gray-178;
$button-text-color: $gray-56;
$active-button-border-color: $gray-117;
$active-button-bg-color: $gray-199;

// icon button
$icon-button-padding: ($building-unit-x0_25 * 3 - $button-border-size) $building-unit;

// primary button
$primary-button-bg-color: $magenta;
$primary-button-border-color: $magenta-160;

@mixin button-no-style {
  border: none;
  outline: none;
  background: none;
  box-shadow: none!important;
}

.button {
  @include font-size(6);
  padding: $button-padding;
  background-color: $gray-237;
  border-radius: $telekom-radius;
  border: $button-border-size solid $button-border-color;
  color: $button-text-color;
  height: auto;
  width: auto;
  transition: $transition-default;
  text-decoration: none;

  &:focus:not(:active),
  &.is-focused:not(:active) {
    box-shadow: $button-box-shadow !important;
    border-color: $blue;
  }

  &:active {
    border-color: $active-button-border-color;
    background-color: $active-button-bg-color;
  }

  &:hover {
    background-color: $gray-220;
    text-decoration: none;
  }

  // Button types
  &.is-icon {
    padding: $icon-button-padding;

    &::after {
      content: '';
      width: $building-unit-x1_5;
      height: $building-unit-x1_5;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.is-outline {
    background-color: transparent;

    &:hover {
      background-color: $gray-237;
    }

    &:active {
      background-color: $gray-220;
    }

    &:disabled,
    &.is-disabled {
      background-color: transparent;
    }
  }

  &.is-primary {
    background-color: $primary-button-bg-color;
    border-color: $primary-button-border-color;
    color: $white;

    &:hover {
      background-color: $magenta-208;
    }

    &:active {
      background-color: $magenta-188;
      border-color: $magenta-140;
    }

    &:disabled,
    &.is-disabled {
      background-color: $disabled-button-bg-color;
      border-color: $disabled-button-border-color!important;
      color: $disabled-button-text-color;
    }
  }

  &.is-link {
    @include button-no-style;
    color: $dark-blue;
    transition: $transition-default;

    &:hover {
      @include button-no-style;
      text-decoration: underline;
      color: $dark-blue-121;
    }

    &:active,
    &:focus {
      @include button-no-style;
      color: $dark-blue-121;
    }

    &:disabled,
    &.is-disabled {
      @include button-no-style;
      color: $blue-242;
    }
  }

  &.is-round {
    background-color: $magenta;
    width: $building-unit-x4;
    height: $building-unit-x4;
    padding: 0;
    border-radius: 50%;
    position: relative;
    box-shadow: none;
    border: 0;
    transition: $transition-default;

    &::before {
      content: '';
      @include absolute-xy-center;
      width: $building-unit-x2;
      height: $building-unit-x2;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.is-plus {
      &::before {
        background-image: url('#{$assets_path}images/plus.svg');
      }
    }

    &:hover {
      box-shadow: 0 $building-unit $building-unit rgba($gray-56, .15);
    }
  }

  // Modifiers
  &.is-large {
    padding: $large-button-padding;
    @include font-size(5);
    font-weight: $font-weight-regular;
  }

  &.is-width-100 {
    width: 100%;
  }

  &:disabled,
  &.is-disabled {
    background: $disabled-button-bg-color;
    border-color: $disabled-button-border-color!important;
    color: $disabled-button-text-color;
    pointer-events: none;
  }
}
