// Forms
$label-margin-bottom: $building-unit-x0_25;
$input-border-size: 1px;
$input-padding: ($building-unit-x0_5 - $input-border-size) $building-unit;
$field-margin-bottom: $building-unit-x1_5;
$input-group-header-margin-bottom: $building-unit-x1_5;
$input-group-header-item-mb: $building-unit-x0_5;
$select-padding: $building-unit-x2_5;
$between-input-group-margin: $building-unit-x3;

// input addon
$addon-bg-color: $gray-237;
$addon-border-color: $gray-178;
$border-radius-round-left: $telekom-radius 0 0 $telekom-radius;
$border-radius-round-right: 0 $telekom-radius $telekom-radius 0;

@mixin input-style() {
  @include font-size(6);
  padding: $input-padding;
}

@mixin placeholder-style() {
  @include font-size(6);
  color: $gray-184;
}

.field {
  max-width: $form-field-width;
  margin-bottom: $field-margin-bottom;

  &.is-width-full {
    max-width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: $field-margin-bottom;
  }

  @include mobile {
    width: 100%;
    max-width: 100%;
  }

  label.label,
  a.is-pulled-right,
  span.error-message {
    position: relative;
    z-index: 1;
    margin-bottom: $label-margin-bottom;
    font-size: $size-7;
    line-height: $lh-7;
  }

  span.error-message {
    color: $red;
  }

  label {
    font-size: $base-font-size;
    color: $gray-56;

    &.is-required {
      &::after {
        content: "*";
      }
    }
  }
}

.input,
.textarea {
  @include input-style;
  color: $gray-56;
  transition: $transition-default;
  height: auto;

  &:hover {
    background-color: $gray-237;
  }

  &:active {
    background-color: $gray-220;
    border-color: $gray-178;
    box-shadow: none;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @include placeholder-style;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @include placeholder-style;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @include placeholder-style;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @include placeholder-style;
  }
}

.input-danger {
  @extend .input;
  border-color: $red;
  background-color: $red-253;

  &:hover,
  &:active {
    background-color: $red-251;
    border-color: $red;
  }

  &:focus {
    box-shadow: $input-focus-box-shadow-size rgba($red, .5);
    border-color: $red;
  }
}

.input-group {
  .input-group-header {
    margin-bottom: $input-group-header-margin-bottom;

    & > * {
      margin-bottom: $input-group-header-item-mb;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.select {
  width: 100%;

  &:not(.is-multiple) {
    height: auto;

    &::after {
      border-color: $gray-117;
      right: $building-unit;
    }
  }

  select {
    background-color: $gray-237;
    width: 100%;
    @include input-style;

    &:not(.is-multiple) {
      height: auto;

      &::after {
        border-color: $gray-178;
      }
    }

    &.is-primary {
      background-color: $white;
      padding-right: $select-padding;
    }
  }
}


.input-group + .input-group  {
  margin-top: $between-input-group-margin;
}

.input-addon {
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  .input-addon-label {
    @include input-style;
    background-color: $addon-bg-color;
    border: $input-border-size solid $addon-border-color;

    &:first-child {
      border-radius: $border-radius-round-left;
      border-right: 0;
    }

    &:last-child {
      border-radius: $border-radius-round-right;
      border-left: 0;
    }
  }

  .input-addon-control {
    flex-grow: 1;

    &:first-child {
      .input {
        border-radius: $border-radius-round-left;
      }
    }

    &:last-child {
      .input {
        border-radius: $border-radius-round-right;
      }
    }
  }
}
