@import '../export-variables';

$table-border-color: $gray-237;
$table-head-border-width: 1px;
$table-border-width: 1px;
$table-row-border-radius: 3px;
$table-border-spacing-y: 4px;
$table-border-spacing-x: 0;
$table-border-spacing: $table-border-spacing-x $table-border-spacing-y;
$cell-horizontal-padding: $building-unit * 1.5;
$cell-vertical-padding: $building-unit * 1.5;
$head-cell-vertical-padding: $cell-vertical-padding - $table-border-spacing-y;
$sorting-height: $building-unit;
$sorting-width: $building-unit / 1.5;
$sorting-icon-padding: $building-unit / 4;
$sorting-icon-height: ($sorting-height - $sorting-icon-padding) / 2;
$table-min-width: $container-min-width;
$table-max-width: $container-max-size;
$table-cell-max-width: $building-unit * 15;
$table-cell-max-width-mobile: $building-unit * 12;
$header-cell-font-size: 13px;

.table-container {
  width: 100%;
  overflow: visible;
  padding-bottom: $building-unit;
}

.table {
  display: table;
  @include font-size(6);
  border-spacing: $table-border-spacing;
  width: 100%;

  &.is-small {
    width: 100%;

    @include mobile {
      width: $table-min-width;
    }
  }

  &.is-big {
    width: $table-max-width;
  }

  &-head {
    display: table-header-group;
  }

  &-body {
    display: table-row-group;
  }

  &-row {
    display: table-row;
  }

  &-cell {
    display: table-cell;
    border-bottom: $table-border-width solid $table-border-color;
    border-top: $table-border-width solid $table-border-color;
    padding: $cell-vertical-padding $cell-horizontal-padding;
    text-align: left;
    vertical-align: middle;
    background-color: $white;

    &:first-child {
      border-left: $table-border-width solid $table-border-color;
      border-top-left-radius: $table-row-border-radius;
      border-bottom-left-radius: $table-row-border-radius;
    }

    &:last-child {
      border-right: $table-border-width solid $table-border-color;
      border-top-right-radius: $table-row-border-radius;
      border-bottom-right-radius: $table-row-border-radius;
    }

    &.is-head {
      font-weight: 700;
      border: none;
      padding-top: 0;
      text-transform: uppercase;
      font-size: $header-cell-font-size;
      color: $gray-178;
      padding-bottom: $head-cell-vertical-padding;
      white-space: nowrap;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: transparent;
    }

    &.is-head {
      &.is-sortable {
        cursor: pointer;
        user-select: none;
      }
      &.is-checkbox {
        padding-bottom: $building-unit;
      }

      &.is-title {
        font-weight: 700;
      }
    }

    &.is-checkbox {
      padding-left: $building-unit-x2;
      padding-right: $building-unit-x0_5;
      width: 0.1%;
    }

    &.is-icon {
      width: 0.1%;
      padding-right: $building-unit-x0_5;
    }

    &.is-title {
      width: 50%;
      font-weight: $font-weight-medium;
    }
  }

  &-sorting {
    position: relative;
    width: $sorting-width;
    height: $sorting-height;
    display: inline-block;
    margin-left: $building-unit_x0_25;

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      border: $sorting-width / 2 solid transparent;
      border-top: 0;
      border-bottom: $sorting-icon-height solid $gray-184;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border: $sorting-width / 2 solid transparent;
      border-bottom: 0;
      border-top: $sorting-icon-height solid $gray-184;
    }

    &.is-asc {
      &::before {
        border-bottom-color: $gray-38;
      }
    }

    &.is-desc {
      &::after {
        border-top-color: $gray-38;
      }
    }
  }

  .is-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: $table-cell-max-width;

    @include touch {
      max-width: $table-cell-max-width / 2;
    }

    @include mobile {
      max-width: $table-cell-max-width-mobile;
    }
  }
}
