@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-Bold.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-BoldItalic.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-Medium.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-MediumItalic.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-Regular.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-RegularItalic.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-Thin.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url('../assets/fonts/TeleGroteskNext-Ultra.woff2') format('woff2'),
  url('../assets/fonts/TeleGroteskNext-Ultra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
