$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-Bold.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-BoldItalic.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-Medium.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-MediumItalic.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-Regular.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-RegularItalic.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-Thin.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TeleGrotesk Next';
  src: url($font_path + 'TeleGroteskNext-Ultra.woff2') format('woff2'),
  url($font_path + 'TeleGroteskNext-Ultra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
